html, body  {
	margin: 0;
    padding: 0;
}
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/87/27/ba/8727bac54400536c15e01810cb418785.png");
    background-attachment: fixed; 
    background-position: center;  
    background-size: 100% 100%;
}

#primary-out {
    width: 80%;
    border-bottom: 10px solid black;
    background-color: white;
    margin: auto;
    display: block;
    opacity: 0.975;
    margin-bottom: 50px;
}

#primary-in {
    padding-left: 25px; /*Adding white space*/
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: center;
}

#title {
    font-family: 'Roboto', sans-serif;   
	font-weight: 700;
    text-align: center;
    font-size: 30px;
    color: #2d2d2d;
}

#fname {
    font-family: 'Roboto', sans-serif;   
	font-weight: 100;
    text-align: center;
    font-size: 60px;
    color: #2d2d2d;
}


.nav ul {
  list-style: none;
  background-color: #c7c7c7;
  text-align: center;
  padding: 0;
  margin: 0;

}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: white;
}
 
.nav a:active {
  background-color: white;
  color: black;
  cursor: default;
}

.AboutSelected {
	background-color: white;
	color: black;
 	cursor: default;
}

.ProjectsSelected {
	background-color: white;
	color: midnightblue;
 	cursor: default;
}

.ExpSelected {
	background-color: white;
	color: midnightblue;
 	cursor: default;
}

.MiscSelected {
	background-color: white;
	color: midnightblue;
 	cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

.img-circle {

    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
}

#intro {
    width: 75%;
    margin: auto;
    text-align: left; 
    margin-top: 40px;
    font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}

.intro2 {
	width: 80%;
    margin: auto;
}

.intro3 {
	width: 80%;
    margin: auto;
	text-align: left;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.linker a {
 	color: royalblue;
  	text-decoration: none;
}

.linker a:hover {
  	color: royalblue;
  	text-decoration: none;
  	border-bottom: 1.5px midnightblue solid;
}

.linepics {
	display: inline-block;
	margin: 5px;
}

.linepics2 {
	display: inline-block;
	margin: 20px;
	vertical-align: top;

}

.linepix {
	display: inline-block;
	vertical-align: top;

}

.linepics3 {
	display: inline-block;
	vertical-align: top;

}

.pic {
	height: 45px;
	width: 45px;
	border-radius: 50%;	
	vertical-align: top;

}

.proj{
	margin: 20px;
}

.propic {
	height: 250px;
	width: 250px;
	border-radius: 50%;	
	border-style: solid;
    border-width: 2px;
	border-color: black;

}

.social {
	margin-top: 70px;
}

.li {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

.li:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.git {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

.git:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.mail {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

.mail:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.fb {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

.fb:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


.caption2 {
	font-family: 'Open Sans', sans-serif;
	width: 250px;
	font-weight: 300;
	margin-top: 10px;
	font-size: 1em;
	text-align: justify;
}

.caption3 {
	font-family: 'Open Sans', sans-serif;
	width: 500px;
	font-weight: 300;
	margin-top: 10px;
	font-size: 1em;
	text-align: justify;
}

.caption4 {
	font-family: 'Open Sans', sans-serif;
	width: 400px;
	font-weight: 300;
	margin-top: 10px;
	font-size: 1em;
	text-align: justify;
}

.headerBRB {
	padding-left: 80px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;

}

.headerBosch {
	padding-left: 100px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;

}

.headerPiS {
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerLake {
	text-align: left;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerTRNG {
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerHeadphone {
	padding-left: 50px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerFetal {
	padding-left: 70px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerextra {
	padding-left: 40px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}

.headerTA {
	padding-left: 80px;
	text-align: left;
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
}


.boldtext {
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
	font-size: 1em;
	color: dimgrey;
}

.boldtext2 {
	font-family: 'Roboto', sans-serif;   
	font-weight: 700;
	font-size: 2.5em;
	color: #2d2d2d;
	text-align: center;
}

#brb.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#brb.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#pis.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#pis.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#lake.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#lake.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#crypto.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#crypto.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#fetal.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#fetal.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#headphone.propic {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	    display: inline-block;

}

#headphone.propic:hover  {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.bosch {
	margin: auto;
}

.boschpic {
	padding: 5px;
	height: 200px; 
	width: 200px;
	border-radius: 50%;
	border-style: solid;
    border-width: 1px;
	border-color: black;	
}

.extrapic {
	height: 200px; 
	width: 200px;
	border-radius: 50%;
	
}

.skillpic {
	height: 50px; 
	width: 50px;	
}

.skillpic2 {
	height: 45px; 
	width: 100px;	
}

.date{
	padding-left: 135px;
	font-style: italic;
}

ul.lister {
	list-style-type: square;
	font-family: 'Open Sans', sans-serif;
}